Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.well-known/(.*)$ /well-known/$1 [L]
</IfModule>

<Files "firebase-messaging-sw.js">
    Header set Service-Worker-Allowed "/"
    Header set Cache-Control "no-cache"
</Files>
